alabaster==0.7.12
appdirs==1.4.4
Babel==2.10.1
certifi==2020.6.20
charset-normalizer==2.0.12
colorama==0.4.4
cssselect==1.1.0
docutils==0.17.1
esbonio==0.11.0
idna==3.3
imagesize==1.3.0
Jinja2==3.1.1
lxml==4.8.0
MarkupSafe==2.1.1
networkx==2.7.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pip==21.2.4
pydantic==1.8.2
pygls==0.11.3
Pygments==2.11.2
pyparsing==3.0.8
pyquery==1.4.3
pyspellchecker==0.6.3
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
setuptools==58.0.4
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sportsipy==0.6.0
tqdm==4.63.0
typeguard==2.13.3
typing_extensions==4.2.0
urllib3==1.26.9
wheel==0.37.1
wincertstore==0.2
